:root {
    --primary-color: #0b3344;
    --secondary-color: #409c9d;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  body {
    margin: 0;
    padding: 0;
  }
  
  button {
    border: none;
    padding: 0;
    background: none;
  }
  
  #navbar {
    display: flex;
    justify-content: flex-start;
    background-color: var(--primary-color);
    padding: 1rem;
  }
  
  .menu-button {
    display: none;
  }
  
  .nav-title img {
    width: 10%;
    border-radius: 50%;
  }
  
  .nav-title > img:hover {
    cursor: pointer;
  }
  
  .nav-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    color: white;
    font-size: 1.5em;
    font-weight: 600;
  }
  
  .nav-buttons {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    align-items: center;
  }
  
  .button {
    border-radius: 41px;
    box-shadow: 0px 4px 5.5px 2px rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    padding: 7% 10%;
    color: white;
    font-size: 1em;
  }
  
  .button:hover {
    cursor: pointer;
  }
  
  .primary-button {
    background-color: var(--secondary-color);
  }
  
  .secondary-button {
    border: 1px solid white;
  }

@media (max-width: 760px) {
  .nav-buttons {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
    position: absolute;
    z-index: 300;
    font-size: 1.5em;
    display: none;
    top: calc(450 * 100vh / 1556);
    left: calc(400 * 100vh / 1556);
    padding: 10%;
    border-radius: 20%;
    background-color: var(--primary-color);
  }

  .nav-buttons.active {
    display: flex;
  }

  .menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}