#heading {
  padding: calc(163 * 100vh / 1556) 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: rgb(11, 51, 68);
  background:linear-gradient(    
  to bottom,
      rgba(11, 51, 68, 0.50) 19%,
      rgba(64, 156, 157, 0.50)100%
      ),
      url(../assets/hand-phone.png) no-repeat center /calc(400 * 100vw / 1556 ),url(../assets/house.png)  no-repeat calc(900 * 100vw / 1556) center /calc(500 * 100vw /1556), rgb(11, 51, 68);
  color: white;
  font-size: 2em;
}

#heading > h2 {
  max-width: 40%;
}

#heading > h4 {
  max-width: 35%;
  font-size: 0.8em;
  font-weight: 500;
}

#button-group {
  background-color: var(--secondary-color);
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2%;
  height: calc(276 * 100vh / 1556);
}

.icon-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: white;
}

.icon-button span {
  width: 70%;
  font-size: 1.3em;
}

.icon-button:hover {
  cursor: pointer;
}

@media (max-width: 1024px) {
  :root {
    font-size: 12px;
  }

  .icon-button {
    font-size: 0.8em;
  }
}

@media (max-width: 760px) {
  #heading {
    font-size: 2em;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    background-color: var(--primary-color);
    background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
  }

  #heading h2,
  #heading h4 {
    margin: 1% auto;
    width: 100%;
  }

  #button-group {
    display: grid;
    height: auto;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 680px) {
  #heading h2,
  #heading h4 {
    margin: 1% 0;
    max-width: 90%;
  }
}
