:root {
  --primary-color: #0b3344;
  --secondary-color: #409c9d;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#navbar {
  display: flex;
  justify-content: flex-start;
  background-color: var(--primary-color);
  padding: 1rem;
}

.nav-title img {
  width: 10%;
  border-radius: 50%;
}

.nav-title > img:hover {
  cursor: pointer;
}

.nav-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  color: white;
  font-size: 1.5em;
  font-weight: 600;
}

.nav-buttons {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  align-items: center;
}

.button {
  border-radius: 41px;
  box-shadow: 0px 4px 5.5px 2px rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  padding: 7% 10%;
  color: white;
  font-size: 1em;
}

.button:hover {
  cursor: pointer;
}

.primary-button {
  background-color: var(--secondary-color);
}

.secondary-button {
  border: 1px solid white;
}

#heading {
  padding: calc(163 * 100vh / 1556) 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: rgb(11, 51, 68);
  background: linear-gradient(
    45deg,
    rgba(11, 51, 68, 1) 19%,
    rgba(64, 156, 157, 1) 100%
  );
  color: white;
  font-size: 2em;
}

#heading > h2 {
  max-width: 40%;
}

#heading > h4 {
  max-width: 35%;
  font-size: 0.8em;
  font-weight: 500;
}

#button-group {
  background-color: var(--secondary-color);
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2%;
  height: calc(276 * 100vh / 1556);
}

.icon-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: white;
}

.icon-button span {
  width: 70%;
  font-size: 1.3em;
}

.icon-button:hover {
  cursor: pointer;
}

@media (max-width: 1024px) {
  :root {
    font-size: 12px;
  }

  .icon-button {
    font-size: 0.8em;
  }
}

@media (max-width: 760px) {
  .nav-buttons {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
    position: absolute;
    z-index: 300;
    font-size: 1.5em;
    display: none;
    top: calc(450 * 100vh / 1556);
    left: calc(400 * 100vh / 1556);
    padding: 10%;
    border-radius: 20%;
    background-color: var(--primary-color);
  }

  .nav-buttons.active {
    display: flex;
  }

  .menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #heading {
    font-size: 2em;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    align-items: center;
  }

  #heading h2,
  #heading h4 {
    margin: 1% auto;
    width: 100%;
  }

  #button-group {
    display: grid;
    height: auto;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 680px) {
  #heading h2,
  #heading h4 {
    margin: 1% 0;
    max-width: 90%;
  }
}
